{
  "swagger" : "2.0",
  "host" : "digital-services-apis.cma-cgm.com",
  "basePath" : "/logistic/tracking/v1",
  "schemes" : [ "https" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/shipments/{shipmentRef}/equipments/moves/commercialCycle" : {
      "get" : {
        "description" : "<p>This method returns for a commercial cycle an overview of the shipment information, the route and all container moves.&nbsp;<br />the method&nbsp; is composed of the following main groups of data</p> <ul> <li>Shipment: Main Information of the booking or BL such as external reference, voyage, port of loading, port of discharge, etc ..</li> <li>Route: the diff&eacute;rent&nbsp; journey legs&nbsp;</li> <li>Container: main information of the container and its moves.</li> </ul>",
        "operationId" : "getMoveOnCommercialCycleFromShipment",
        "summary" : "all moves information related to all containers of a shipment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "description" : "shipment reference (booking reference or BL number)",
          "required" : true,
          "in" : "path",
          "name" : "shipmentRef",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "returns for a commercial cycle an overview of the shipment information, the route and all container moves",
            "schema" : {
              "$ref" : "#/definitions/Shipment"
            }
          },
          "500" : {
            "description" : "hereunder fault datatype description </br>  Reason -  500 Internal error </br>  Code - TRK_ERR Description - Logistic tracking service unavailable' </br>",
            "schema" : {
              "$ref" : "#/definitions/Fault"
            }
          },
          "404" : {
            "description" : "hereunder fault datatype description </br>  Reason -  404 no result found <br>  Code - REF_ERR Description - reference unknown <br>",
            "schema" : {
              "$ref" : "#/definitions/Fault"
            }
          }
        }
      }
    },
    "/shipments/{shipmentRef}/equipments/{eqpId}/moves/commercialCycle" : {
      "get" : {
        "description" : "<p>This method returns for a commercial cycle and a container an overview of the shipment information, the route and all container moves.&nbsp;<br />the method&nbsp; is composed of the following main groups of data</p> <ul> <li>Shipment: Main Information of the booking or BL such as external reference, voyage, port of loading, port of discharge, etc ..</li> <li>Route: the diff&eacute;rent&nbsp; journey legs&nbsp;</li> <li>Container: main information of the container and its moves.</li> </ul>",
        "operationId" : "getMoveOnCommercialCycleFromShipmentAndEquipmentId",
        "summary" : "all moves information related to a container of a shipment",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "description" : "shipment reference (booking reference or BL number)",
          "required" : true,
          "in" : "path",
          "name" : "shipmentRef",
          "type" : "string"
        }, {
          "description" : "equipment id (container reference)",
          "required" : true,
          "in" : "path",
          "name" : "eqpId",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "returns for a shipment reference and equipment reference all container moves",
            "schema" : {
              "$ref" : "#/definitions/Shipment"
            }
          },
          "500" : {
            "description" : "hereunder fault datatype description </br>  Reason -  500 Internal error </br>  Code - TRK_ERR Description - Logistic tracking service unavailable' </br>",
            "schema" : {
              "$ref" : "#/definitions/Fault"
            }
          },
          "404" : {
            "description" : "hereunder fault datatype description Reason - 404 no result found <br /> Code - REF_ERR Description - reference unknown <br />Code - CTN_ERR Description - container unknown",
            "schema" : {
              "$ref" : "#/definitions/Fault"
            }
          }
        }
      }
    },
    "/equipments/{eqpId}/moves/lastCycle" : {
      "get" : {
        "description" : "<p>This method returns for a container all moves of its last cycle.&nbsp;<br />the method is composed of the following main groups of data</p> <ul> <li>Shipment: Main Information of the booking or BL such as external reference, voyage, port of loading, port of discharge, etc ...</li> <li>Container: main information of the container and its moves.</li> </ul>",
        "operationId" : "getLastCycleMoveFromEquipment",
        "summary" : "all moves information related to a container of its last cycle",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "description" : "equipment id (container reference)",
          "required" : true,
          "in" : "path",
          "name" : "eqpId",
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "returns for a container all moves of its last cycle",
            "schema" : {
              "$ref" : "#/definitions/Shipment"
            }
          },
          "500" : {
            "description" : "hereunder fault datatype description </br>  Reason -  500 Internal error </br>  Code - TRK_ERR Description - Logistic tracking service unavailable' </br>",
            "schema" : {
              "$ref" : "#/definitions/Fault"
            }
          },
          "404" : {
            "description" : "hereunder fault datatype description Reason - 404 no result found <br /> Code - CTN_ERR Description - container unknown",
            "schema" : {
              "$ref" : "#/definitions/Fault"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "CodeAndName" : {
      "properties" : {
        "code" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        }
      },
      "type" : "object"
    },
    "Vessel" : {
      "properties" : {
        "code" : {
          "type" : "string"
        },
        "name" : {
          "type" : "string"
        },
        "imo" : {
          "type" : "string"
        }
      },
      "type" : "object"
    },
    "Container" : {
      "properties" : {
        "id" : {
          "description" : "Container ID",
          "type" : "string"
        },
        "size" : {
          "description" : "Size in TEU",
          "type" : "integer"
        },
        "emptyReturnDepot" : {
          "description" : "Empty return depot",
          "type" : "string"
        },
        "type" : {
          "description" : "type of the container such as ST, ..",
          "type" : "string"
        },
        "movements" : {
          "items" : {
            "$ref" : "#/definitions/Movement"
          },
          "type" : "array"
        }
      },
      "type" : "object"
    },
    "Movement" : {
      "properties" : {
        "statusOrder" : {
          "description" : "movement display order",
          "type" : "string"
        },
        "status" : {
          "$ref" : "#/definitions/CodeAndName"
        },
        "date" : {
          "description" : "date of the movement",
          "format" : "date-time",
          "type" : "string"
        },
        "reportedOn" : {
          "description" : "date of move integration",
          "format" : "date-time",
          "type" : "string"
        },
        "poolLocation" : {
          "description" : "terminal of the movement",
          "type" : "string"
        },
        "pointLocation" : {
          "$ref" : "#/definitions/CodeAndName"
        },
        "voyageReference" : {
          "description" : "Voyage Reference",
          "type" : "string"
        },
        "vessel" : {
          "$ref" : "#/definitions/Vessel"
        },
        "pointOfDischarge" : {
          "description" : "point of discharge",
          "type" : "string"
        },
        "portOfOrigin" : {
          "description" : "point of origin",
          "type" : "string"
        },
        "portOfLoading" : {
          "description" : "point of loading",
          "type" : "string"
        },
        "finalPod" : {
          "description" : "final port of discharge",
          "type" : "string"
        },
        "finalDest" : {
          "description" : "final point of destination",
          "type" : "string"
        },
        "countryCode" : {
          "description" : "country code such as FR",
          "type" : "string"
        },
        "shipCompCode" : {
          "description" : "shipping companies codes are 0001, 0002... provided by CMA CGM referential",
          "type" : "string"
        },
        "voyageShipCompCode" : {
          "description" : "voyage number",
          "type" : "string"
        }
      },
      "type" : "object"
    },
    "Shipment" : {
      "properties" : {
        "portOfLoading" : {
          "$ref" : "#/definitions/CodeAndName"
        },
        "portOfLoadingCountryCode" : {
          "description" : "country code of the port of loading such as FR",
          "type" : "string"
        },
        "portOfDischarge" : {
          "$ref" : "#/definitions/CodeAndName"
        },
        "portOfDischargeCountryCode" : {
          "description" : "country code of the port of discharge such as FR",
          "type" : "string"
        },
        "voyageReference" : {
          "description" : "Voyage Reference",
          "type" : "string"
        },
        "nbUnits" : {
          "description" : "Number of units",
          "type" : "integer"
        },
        "routes" : {
          "items" : {
            "$ref" : "#/definitions/Route"
          },
          "type" : "array"
        }
      },
      "type" : "object"
    },
    "Fault" : {
      "required" : [ "reason" ],
      "properties" : {
        "reason" : {
          "description" : "HTTP error or Free text such as  Database Not Available , Invalid Credential, Mandatory, Invalid Format,  Invalid Length, ForbiddenValue, Invalid Data,...",
          "type" : "string"
        },
        "code" : {
          "description" : "Error Id,  Server Application error ID, Oracle error Id, ....",
          "type" : "string"
        },
        "description" : {
          "description" : "Human-readable error description including Data and Value",
          "type" : "string"
        }
      },
      "type" : "object"
    },
    "JourneyLeg" : {
      "properties" : {
        "sequenceNumber" : {
          "description" : "sequence number of the journey leg",
          "type" : "integer"
        },
        "pointFrom" : {
          "$ref" : "#/definitions/CodeAndName"
        },
        "vesselFrom" : {
          "$ref" : "#/definitions/Vessel"
        },
        "vesselTo" : {
          "$ref" : "#/definitions/Vessel"
        },
        "pointTo" : {
          "$ref" : "#/definitions/CodeAndName"
        },
        "poolLocationFromCode" : {
          "description" : "pool code of journey leg departure",
          "type" : "string"
        },
        "poolLocationToCode" : {
          "description" : "pool code of journey leg arrival",
          "type" : "string"
        },
        "collectionDate" : {
          "description" : "collection date",
          "format" : "date-time",
          "type" : "string"
        },
        "voyageReference" : {
          "description" : "voyage reference at the journey leg departure",
          "type" : "string"
        },
        "dischargeVoyageReference" : {
          "description" : "voyage reference at the journey leg arrival",
          "type" : "string"
        },
        "deliveryDate" : {
          "description" : "delivery date",
          "format" : "date-time",
          "type" : "string"
        },
        "shipCompCode" : {
          "description" : "shipping companies codes are 0001, 0002... provided by CMA CGM",
          "type" : "string"
        }
      },
      "type" : "object"
    },
    "Route" : {
      "properties" : {
        "journeyLegs" : {
          "items" : {
            "$ref" : "#/definitions/JourneyLeg"
          },
          "type" : "array"
        },
        "containers" : {
          "items" : {
            "$ref" : "#/definitions/Container"
          },
          "type" : "array"
        }
      },
      "type" : "object"
    }
  },
  "securityDefinitions" : {
    "API Key" : {
      "type" : "apiKey",
      "description" : "API Key",
      "name" : "KeyId",
      "in" : "header"
    }
  },
  "security" : [ {
    "API Key" : [ ]
  } ],
  "info" : {
    "title" : "logistic.tracking.v1",
    "description" : "Retrieve tracking data about your cargo using container number, booking number or bill of lading.",
    "version" : "1.4.1"
  },
  "x-axway" : {
    "corsEnabled" : true,
    "basePaths" : [ "", "", "" ],
    "serviceType" : "rest",
    "deprecated" : false,
    "tags" : { },
    "availableSDK" : {
      "ios-swift" : "/discovery/sdk/88381eed-8e6f-4293-ac82-e7c43379825a/ios-swift",
      "titanium" : "/discovery/sdk/88381eed-8e6f-4293-ac82-e7c43379825a/titanium",
      "android" : "/discovery/sdk/88381eed-8e6f-4293-ac82-e7c43379825a/android",
      "nodejs" : "/discovery/sdk/88381eed-8e6f-4293-ac82-e7c43379825a/nodejs"
    }
  }
}